<% provide :title, "Sign In" %>
<div class="sign-in-container">
  <div class="row">
    <div class="twelve columns">
      <div class="five columns">
        <span>Already have an account? </span><h2>Sign in</h2>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>

          <div><%= f.submit "Sign in" %></div>
        <% end %>

        <%#= render "devise/shared/links" %>
      </div>


      <div class="five columns">
        <span>New startup? </span><h2>Sign up</h2>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>

          <div><%= f.submit "Sign up" %></div>
        <% end %>

        <%#= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<style>
.sign-in-container {
  margin-top: 10%;
}

.sign-in-container .five {
  border: 1px solid rgba(0,0,0,.3);
  background: rgba(255,255,255,.3);
  padding: 15px;
  height: 365px;
}
</style>
