<!DOCTYPE html>
<html>
<head>
  <title>Larks | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= google_webfonts_link_tag :vollkorn, :lato => [400] %>
  <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/messages' %>
<%= yield %>
<!-- <div id = "footer"> -->
<%#= render 'layouts/footer' %>
<!--</div> -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/3EX5l1HHXjhO7m2NWM8fGA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
</body>
<script>
  $(document).ready(function(){
    $("body")[0].scrollTop = 0;
    $("#nav li a").click(function(e){
      e.preventDefault();
      $("body")[0].scrollTop = $('' + $(this).attr('data-url')).position().top - 50;
    })
  })
</script>
</html>
